# Rust configuration
[[language]]
name = "rust"
auto-format = true
indent = { tab-width = 4, unit = " " }
language-servers = ["rust-analyzer"]

roots = [
  "Cargo.toml",
  "Cargo.lock"
]
[language.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'

[language-server.rust-analyzer.config]
inlayHints.bindingModeHints.enable = false
inlayHints.closingBraceHints.minLines = 10
inlayHints.closureReturnTypeHints.enable = "with_block"
inlayHints.discriminantHints.enable = "fieldless"
inlayHints.lifetimeElisionHints.enable = "skip_trivial"
inlayHints.typeHints.hideClosureInitialization = false

[language-server.rust-analyzer.config.check]
checkOnSave = { command = "clippy" }

[language-server.rust-analyzer.config.cargo]
features = "all"

# Golang configuration
[[language]]
name = "go"
scope = "source.go"
injection-regex = "go"
file-types = ["go"]
roots = ["Gopkg.toml", "go.mod"]
auto-format = true
formatter = { command = "goimports" }
language-servers = ["gopls"]
comment-token = "//"
# golang needs utf-8 offsets
indent = { tab-width = 4, unit = "\t"}

# Typescript configuration
[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
language-servers = ["typescript-language-server"]

[[language]]
name = "javascript"
language-servers = ["typescript-language-server"]

[[language]] 
name = "jsx"
language-servers = ["typescript-language-server"]

[language-server.typescript-language-server]
command = "typescript-language-server"
args = ["--stdio"]


# TOML configuration
[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }

